.contact-bar__main {
    width: 100vw;
    min-height: 6vh;
    background-color: var(--blue);
    padding: 2rem 1rem
}

.contact-bar__contact {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    font-weight: 700;
    padding: 2px 18px;
    font-size: 1.2rem;
}

.contact-bar__socials {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 9;
}

.contact-bar__contact span, .contact-bar__socials span {
    padding: 2px 6px;
}

@media screen and (max-width:680px) {
    .contact-bar__socials {
        display: none
    }
}