.hero__main {
    min-height: 60vh;
    background: var(--blue);
    background: #fff;
    background-image: url('../../assets/abstract-white-background-with-smooth-lines_476363-5468.avif');
    background-size: cover;
}

.hero__main img {
    width: 36vw;
    border: 1.3rem solid #ebebed;
    border-radius: 2rem;
}

.hero__toptitle {
    margin-bottom: 2rem;
}

.hero__bottomtitle {
    margin-top: 2rem;
    margin-bottom: 1rem;
}


@media screen and (min-width:1280px) {
    .hero__main {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .hero__text {
        padding-top: 2rem;
    }

    .hero__img {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:1279px) {
    .hero__main {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent !important;
        background-image: url('../../assets/abstract-white-background-with-smooth-lines_476363-5468.avif');
        background-size: cover;
        padding: 1rem;
    }

    .hero__main .container {
        background-color: transparent !important;
    }


    .hero__main img {
        display: none
    }

    .hero__text h2 {
        color: var(--blue)
    }

}